=form_for(@user, class: "col s12") do |f|
  .row
  .row
    .col.s4.offset-s1
      %h3 My Account
      %p.summary Based on these fields, we'll find legislators who match your profile
      =f.hidden_field :id, value: @user.id

      .row
        .input-field.col.s12
          =f.label :zipcode
          =f.text_field :zipcode

        .input-field.col.s12
          =f.label :email
          =f.text_field :email

        .col.s12
          =f.label :political_party
          =f.select(:political_party, ["Democrat", "Republican", "Independent"], include_blank: true)

    .col.s4.offset-s1
      %h3 Tags
      %p.summary Based on these tags, we'll find bills that match your interests
      -if @user.tags.empty?
        %h5 No tags! Add some below to help us find bills you'll be interested in
      -else
        =f.fields_for :user_tags, @user.user_tags.build do |tag_form|
          .input-field.col.s12
            =tag_form.label :tag_name, "Add another tag"
            =text_field_tag nil, nil, id: 'tag_name', data: { autocomplete_source: Tag.order(:name).map { |t| { label: t.name, value: t.id } } }
            =tag_form.hidden_field :tag_id

            =tag_form.hidden_field :user_id, value: @user.id
        %ul.collection.tags
          -@user.tags.each do |tag|
            %li.collection-item{'data-tag-id' => tag.id}
              %span=tag.name
              =link_to '<i class="material-icons">close</i>'.html_safe, user_path(tag_id: tag.id), remote: true, method: :delete

  .row
    .col.s9
      %p &nbsp;
    .col.s3
      %button.blue.btn.waves-effect.waves-light{:name => "action", :type => "submit"} Save
