.row
.row
.row
  .col.s10.offset-s1
    .card.large
      .col.s10.offset-s1
        %span.card-title.activator.grey-text.text-darken-4
          %h1 Welcome
        .row
          %h3 Congress desperately needs some good news.
          %p This app searchs through data from Congress' API and helps you learn about the positive changes they are making.
        .row
          .col.s4.offset-s4
            %a.waves-effect.waves-light.btn.blue{href: '/good_deed'} Find a good deed
