.row
.row
.row
  .col.s10.offset-s1
    .card.large
      .card-image.waves-effect.waves-block.waves-light
        =image_tag "washington.jpg", class: 'activator'
      .card-content
        %span.card-title.activator.grey-text.text-darken-4
          Welcome
        %p
          Congress desperately needs some good news. This app searchs through data from Congress' API and helps you learn about the positive changes they are making.
        %a.waves-effect.waves-light.btn.blue{href: '/good_deed'} Find a good deed
