.row
  .col.s10.offset-s1
    -if !params[:query].empty?
      %h4="#{@num_legislators} legislators found for #{params[:query]}"
      -if @legislators.any?
        %table.bordered.hoverable.responsive-table#results
          %thead
            %tr
              %th Name
              %th Party
              %th State
              %th Website
          %tbody
            -@legislators.each do |legislator|
              %tr{'data-url' => "/legislators/#{legislator.id}"}
                %td
                  %p=legislator.name
                  %p=legislator.verbose_summary
                %td=legislator.full_party
                %td=legislator.state
                %td=link_to legislator.website, legislator.website, target: '_'
        = paginate @legislators
