@import "reset";
@import "normalize";
@import "materialize";

body {
  background-color: #f2f2f2;
}

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete {
  z-index: 999;
}

.actions tr {
  padding: 5px 5px;
}

.tags i {
  font-size: 1rem;
}

.alert span, .notice span, .tags span{
  vertical-align: super;
}

.collection-item > a {
  vertical-align: text-bottom;
}
.input-field input[type="search"]{
  height: 50px;
  line-height: 50px;
  display: table-cell;
  background-color: white;
  border-radius: 2px;
}

.search .material-icons{
  color: white !important;
}
.search.active .material-icons{
  color: gray !important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #2196F3 !important;
}

#search i {
  margin-left: 10px;
}

table {
  background-color: white;
}

// .ui-autocomplete {
//   background-color: white;
//   margin-left: 25%;
//   width: 50%;
//   float: left;
//   li {
//     margin: 5px 0;
//   }
// }

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
