/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require reset
 *= require normalize
 *= require_self
 */

 .layout-transparent {
   background: url('capitol.jpg') center / cover;
   background: url('night_building.png') center / cover;
 }
 .layout-transparent .mdl-layout__header,
 .layout-transparent .mdl-layout__drawer-button {
   /* This background is dark, so we set text to white. Use 87% black instead if
      your background is light. */
   color: white;
 }

 .demo-card-wide.mdl-card {
     width: 512px;
 }
 .demo-card-wide > .mdl-card__title {
   color: #fff;
   height: 30px;
 }
 .demo-card-wide > .mdl-card__menu {
   color: #fff;
 }

 .mdl-card {
  width: 512px;
  margin-top: 6%;
  margin-left: 5%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('washington.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-data-table {
  margin: 0 auto;
}

.new_user .mdl-textfield {
  color: black;
}

.new_user .mdl-textfield label {
  color: gray;
}

#search .mdl-textfield {
  width: 700px;
}
#search label {
  color: white;
}

input[type="submit"] {
  display: block;
}
