.navbar-fixed
  %nav.blue
    .nav-wrapper
      .row
        .col.s1
          %a{:href => "/"} Good Deed
        .col.s8
          =form_tag(search_path, method: :get, remote: true, id: 'search') do
            .input-field
              %label.search{:for => "search"}
                %i.material-icons search
              - if @bill
                -placeholder_text = @bill.bill_id
              -elsif @legislator
                -placeholder_text = @legislator.name
              -elsif params[:search]
                -placeholder_text = params[:search]
              -else
                -placeholder_text = 'Search bills (bill id, keywords) or legislators (name, state, zipcode, party, title)'
              =text_field_tag :search, params[:search], placeholder: placeholder_text, required: '', type: 'search', autocomplete: 'off'
        .col.s3
          %ul.right.hide-on-med-and-down
            -if user_signed_in?
              %li=link_to "My Account", user_path(current_user)
              %li=link_to "Bookmarks", bookmarks_path
              %li=link_to "Logout", destroy_user_session_path, method: :delete
            -else
              %li=link_to "Log in", new_user_session_path
              %li=link_to "Sign up", new_user_registration_path
