.navbar-fixed
  %nav.blue
    .nav-wrapper
      .row
        .col.s1
          %a{:href => "/"} Good Deed
        .col.s3
          %span
            Search
            -if params[:resource] == "Legislators" || request.original_url.include?('legislators')
              =link_to "Bills", '#', class: 'waves-effect waves-light btn query-filter disabled'
              |
              =link_to "Legislators", '#', class: 'waves-effect waves-light btn query-filter active'
            -else
              =link_to "Bills", '#', class: 'waves-effect waves-light btn query-filter active'
              |
              =link_to "Legislators", '#', class: 'waves-effect waves-light btn query-filter disabled'
            for
        .col.s5
          =form_tag('#', method: :get, remote: true, id: 'search') do
            =hidden_field_tag :resource, "Bills"
            .input-field
              - if @bill
                -placeholder_text = @bill.bill_id
              -elsif @legislator
                -placeholder_text = @legislator.name
              -elsif params[:search]
                -placeholder_text = params[:query]
              -else
                -placeholder_text = 'keywords like FDA, Banking, Military spending'
              =text_field_tag :query, params[:query], placeholder: placeholder_text, required: '', type: 'search', autocomplete: 'off'
        .col.s3
          %ul.right.hide-on-med-and-down
            -if user_signed_in?
              %li=link_to "My Account", user_path(current_user)
              %li=link_to "Bookmarks", bookmarks_path
              %li=link_to "Logout", destroy_user_session_path, method: :delete
            -else
              %li=link_to "Log in", new_user_session_path
              %li=link_to "Sign up", new_user_registration_path
