.navbar-fixed
  %nav.red
    .nav-wrapper
      .row
        .col.s1
          %a{:href => "/"} Good Deed
        .col.s9
          =form_tag(legislators_path, method: :get, remote: true, id: 'search') do
            .input-field
              %label{:for => "search"}
                %i.material-icons search
              =text_field_tag :search, params[:search], required: '', type: 'search'
        .col.s2
          %ul.right.hide-on-med-and-down
            -if user_signed_in?
              %li=link_to "My Account", user_path(current_user)
              %li=link_to "Logout", destroy_user_session_path, method: :delete
            -else
              %li=link_to "Log in", new_user_session_path
              %li=link_to "Sign up", new_user_registration_path
